div {
  position: absolute;
  padding: 10px 20px;
  background-color: aqua;
  border: 2px solid navy;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Positioning each box */
.top-left {
  top: 20px;
  left: 10px;
  background-color:pink
}

.top-right {
  top: 20px;
  right: 10px;
  background-color:pink
}

.bottom-left {
  bottom: 20px;
  left: 10px;
  background-color:pink
}

.bottom-right {
  bottom: 20px;
  right: 10px;
  background-color:pink
}

/* Bonus: Center */
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:lightpink
}

 
