body {
  margin: 0;
  height: 100vh;
  position: relative; /* horizonatl */
  background: lightblue;
  font-family: Arial, sans-serif;
}

/* Style all boxes */
div {
  position: vertical;
  padding: 10px 20px;
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

/* Corner positions */
.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

/* Bonus: Center */
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: seagreen;
}
